public/wsdl/calc.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="gcentos" targetNamespace="urn:gcentos" 
	xmlns:typens="urn:gcentos" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<message name="testRequest"/>
	<message name="testResponse">
		<part name="testReturn" type="xsd:anyType" />
	</message>
	
	<message name="getYByXRequest">
		<part name="x1" type="xsd:anyType"/>
		<part name="x2" type="xsd:anyType"/>
	</message>
	<message name="getYByXResponse">
		<part name="y" type="xsd:anyType" />
	</message>
	
	
	<portType name="ptCalcService">
		<operation name="test">
			<documentation>
				测试用例
			</documentation>
			<input message="typens:testRequest"/>
			<output message="typens:testResponse"/>
		</operation>
		<operation name="getYByX">
			<documentation>
				获取计算结果
			</documentation>
			<input message="typens:getYByXRequest"/>
			<output message="typens:getYByXResponse"/>
		</operation>
	</portType>
	
	
	<binding name="bCalcService" type="typens:ptCalcService">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="test">
			<soap:operation soapAction="urn:test"/>
			<input>
				<soap:body namespace="urn:gcentos" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:gcentos" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getYByX">
			<soap:operation soapAction="urn:getYByX"/>
			<input>
				<soap:body namespace="urn:gcentos" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:gcentos" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	
	
	<service name="CalcService">
		<port name="pCalcService" binding="typens:bCalcService">
			<soap:address location="http://www.gcentos.com.cn.dev/soap_calc/calc"/>
		</port>
	</service>
</definitions>